{%extends "base.html"%} {%block title %} profile {%endblock%} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/pretty-checkbox.min.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="my-form container p-5 my-5 rounded border border-warning">
      <form method="post">
        <h2 class="text-center">Profile</h2>
        <hr />

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input
              type="text"
              placeholder="{{profile['first_name']}}"
              class="form-control"
              id="inputFirstName"
              name="first_name"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input
              type="text"
              placeholder="{{profile['last_name']}}"
              class="form-control"
              id="inputLastName"
              name="last_name"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input
            placeholder="{{profile['address']}}"
            type="text"
            class="form-control"
            id="inputAddress"
            name="address"
          />
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="{{profile['address2']}}"
            name="address2"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control"
              placeholder="{{profile['city']}}"
              id="inputCity"
              name="city"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">State</label>
            <input
              type="text"
              class="form-control"
              id="inputZip"
              placeholder="{{profile['state']}}"
              name="state"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input
              type="text"
              class="form-control"
              id="inputZip"
              placeholder="{{profile['zip']}}"
              name="zip"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            readonly
            class="form-control-plaintext border border-warning rounded"
            id="inputEmail"
            placeholder="{{profile['email']}}"
            name="email"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputUsername">Username</label>
            <input
              type="text"
              class="form-control"
              id="inputUsername"
              placeholder="{{profile['user_name']}}"
              name="user_name"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              name="password"
              required
            />
          </div>
        </div>

        <button type="submit" class="btn btn-warning">Save Changes</button>
      </form>
    </div>

    {% endblock %}
  </body>
</html>
